body {
    background-image: url("/static/img1.jpg");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  header {
    background-color: #302d2d;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

#nav-panel {
    text-align: center;
    margin-top: 50px;
}
form {
    display: inline-block;
}
button {
    background-color: #695224;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #b9a129;
}
